*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Página 1*/

.app{
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    min-height: 100vh;

}
/*header*/
.app__header{
  
}
.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4ba4e48;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    min-height: 100vh;
    animation-name: showNav;
    animation-duration: 300ms;
    animation-iteration-count: 1;
}
.nav__options{
    list-style: none;
    background-color: #026f59;
    text-align: center;
    font-family: 'Caveat Brush', cursive;  
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 60px 40px 60px;
    border-radius: 20px;
}
.nav--trigger{
    background-image: url('../images/menu--btn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 30px;
    right: 30px;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f4bb4e;
    padding: 20px;
}
.nav--closer{
    background-image: url('../images/close--btn.svg');
    background-position: center;
    background-size: contain;
    position: fixed;
    top: 30px;
    right: 30px;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 5px;
    padding: 20px;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
.link{
    text-decoration: none;
    transition: transform ease 0.8s;
    font-size: 36px;
    color: white;
}
.link::after{
    content: '';
    display: inline-block;
    width: 100%;
    border-bottom: 3px solid;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0,1);
}
.link:hover{
    font-weight: 800;
    font-size: 40px;
    &::after{
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
// animación del header
@keyframes showNav {
    from{
        transform: translateX(-100%);
        width:100%;
        height:100%;
    }
    to{
        transform: translateX(0);
        width:100%;
        height:100%;
    }
}
/*main*/
.hero__container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__hero{
    background-color: #f4bb4e;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    .hero__title{
        font-family: 'Caveat Brush', cursive;  
        font-size: 60px;
    }
    .title__description{
        font-family: 'Raleway', sans-serif;
        text-align: center;
        margin-top: 10px;
        width: 200px;
    }
}
// products
.products__wrapper{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products__title--description{
    text-align: center;
    background: #ff695a;
    border-radius: 20px;
    padding: 20px;
}
.products__title{
    font-family: 'Caveat Brush', cursive;  
    font-size: 42px;
}
.products__description{
    font-family: 'Raleway', sans-serif;
    margin-top: 15px;
}
.products__list--container{
    background-color: blue;
    width: 100%;
}
.products__list{
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.item__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: green;
    height: 150px;
    width: 150px;
    .item__img{
        height: 100px;
        width: 100px;
    }
}